<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- Header Fragment 선언부 -->
<div th:fragment="header">
    <header class="p-3 bg-dark text-white">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li><a id="home" href="#" class="nav-link px-2 text-secondary" th:href="@{/articles/lists}">Home</a></li>
                </ul>

                <div class="text-end">
                    <a role="button" id="signup" class="btn btn-outline-light me-2" sec:authorize="isAnonymous()" th:href="@{/user/signup}">회원가입</a>
                    <a role="button" id="login" class="btn btn-outline-light me-2" sec:authorize="isAnonymous()" th:href="@{/user/login}">Login</a>
                    <a role="button" id="logout" class="btn btn-outline-light me-2" sec:authorize="isAuthenticated()" th:href="@{/logout}">Logout</a>
                </div>
            </div>
        </div>
    </header>
    <br>
</div>
</html>